<footer class="footer">
    <ul class="navbar-nav">
        <li>
            <a href="">
                <div>
                    <img class="icons"  src="../static/icons/home.png" alt="Inicio">
                    <p>Inicio</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div>
                    <img class="icons"  src="../static/icons/controlb.png" alt="control">
                    <p>Control</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div>
                    <img class="icons"  src="../static/icons/biceps.png" alt="Entrenar">
                    <p>Entrenar</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div>
                    <img class="icons"  src="../static/icons/stadistics (1).png" alt="Inicio">
                    <p>Progreso</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div>
                    <img class="icons"  src="../static/icons/user.png" alt="Usuario">
                    <p>Perfil</p>
                </div>
            </a>
        </li>
    </ul>
</footer>