<footer class="footer">
    <ul class="navbar-footer">
        <li>
            <a href="{{url_for('index')}}">
                <div class="icon-container">
                    <img class="icons"  src="../static/icons/home.png" alt="Inicio">
                    <p>Inicio</p>
                </div>
            </a>
        </li>
        <li>
            <a href="{{url_for('week_data')}}">
                <div class="icon-container">
                    <img class="icons"  src="../static/icons/controlb.png" alt="control">
                    <p>Control</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="icon-container">
                    <img class="training-icon"  src="../static/icons/biceps.png" alt="Entrenar">
                    
                </div>
            </a>
        </li>
        <li>
            <a href="{{url_for('diet')}}">
                <div class="icon-container">
                    <img class="icons"  src="../static/icons/diet.png" alt="Inicio">
                    <p>Dieta</p>
                </div>
            </a>
        </li>
        <li>
            <a href="{{url_for('profile', email=current_user.email)}}">
                <div class="icon-container">
                    <img class="icons"  src="../static/icons/user.png" alt="Usuario">
                    <p>Perfil</p>
                </div>
            </a>
        </li>
    </ul>
</footer>