{% extends 'base.html' %}

{% block content %}
<header>
    {% include '_navbar.html' %}
</header>
<table>
    <tr valign="top">
        <td><img src="{{ user.avatar(128) }}"></td>
        <td><h1> {{ user.username }}</h1></td>
    </tr>
</table>
<hr>
<p>
   Peso: {{ w_data.weight}}  Grasa corporal: {{ w_data.body_fat }}
</p>
<div>
    <a href="{{url_for('week_data')}}" class="btn btn-primary">
        Registrar datos
    </a>
</div>
    
<footer>
    {% include '_footer.html' %}
</footer>
{% endblock %}